html, body {
  margin:0px;
  height:100%;
}

.body-container {
  min-height: 100%; 
}

.jumbotron-header-width {
  max-width: 60rem;
}
/* ===============================================================================================================
BEGIN CLASSES
=============================================================================================================== */
.dropdown-item:hover {
    background-color: rgb(201, 201, 201) !important;
}

.datepicker {
  transform: translate(-10px, 260px);
}

.listContainer {
  padding-left: 40px;
}

.spiroTextInput {
  width: 120px;
}

.cardImage {
  width: 50%;
}

/* ===============================================================================================================
BEGIN TEXT CLASSES
=============================================================================================================== */
.text-robotron {
  font-family: 'Roboto', sans-serif;
}

/* ===============================================================================================================
BEGIN CLASSES FOR HOMEPAGE ASSIGNMENT CARDS
=============================================================================================================== */
.progress {
  height: 20px;
}

.assignment-cover-img {
  width: 100%;
  height: 200px;
}

.btn-assignment-cover {
  margin-left: -1px;
}

/*
HOVEREFFECT CARDS
*/
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  background-color: transparent;
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}

.hovereffect a, .hovereffect p {
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

/*
CARD MEMORY GAME
*/
.drop-targets {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  margin: 20px 0;
}

.box {
  height: 250px;
  width: 200px;
  border: solid 3px #ccc;
  margin: 10px;

  /* align items in the box */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.drag-over {
  border: dashed 3px red;
}

.drag-over.card-success {
  border: dashed 3px green;
}

.item {
  height: 200px;
  width: 175px;
  display: none;
  background-size: 175px 200px;

}

.cardImageContainer {
  height: 200px;
  width: 175px;
  background-size: 175px 200px;
}

.hide {
  display: none;
}

.main-card-holder {
  margin-right: 60px;
  border-color: solid 3px rgb(199, 161, 9);
}

.drag-over.main-card-holder {
  border-color: solid 3px rgb(199, 161, 9);
}

/* ===============================================================================================================
BEGIN IDs
=============================================================================================================== */
/*
NAVBAR
*/
#navbarLogo {
  width: 42px;
  height: 23px;
}

#navbarLogoContainer {
  padding-bottom: 8.2px;
  padding-right: 8px;
}

#navbarLogoText {
  color: rgb(240, 240, 240);
}

/*
HOMEPAGE APP
*/
#bodyLogo {
    margin-right: 40px;
    margin-top: 8px;
    float: left;
    width: 200px;
}

/*
CONTACT APP
*/
#UserInputConfirm {
    display: none;
}

#UserInputSuccess {
    display: none;
}

#UserFullName {
    text-transform: capitalize;
}

/*
JSON APP
*/
#myInput {
  background-image: url('/css/searchicon.png'); 
  background-position: 10px 12px; 
  background-repeat: no-repeat; 
  width: 100%; 
  font-size: 16px; 
  padding: 12px 20px 12px 40px; 
  border: 1px solid #ddd; 
  margin-bottom: 12px; 
}

/*
FOOTER
*/